#loading {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.postDiv {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00000055;
    backdrop-filter: blur(10px);
    border: solid 1px #cccccc44;
    box-shadow: 0px 0px 5px 2px #000;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

.postTitle {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.postTitle:hover {
    text-decoration: underline;
}

.postAuthor,
.postDate {
    line-height: 0px;
    font-style: italic;
}

.postContent {
    font-weight: lighter;
    line-height: 20px;
    text-align: justify;
}

.post img {
    border-radius: 5px;
}