body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.MsgBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding-top: 0;
  padding-bottom: 5px;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 5px;
  box-shadow: 0 0 40px 5px #000000;
  opacity: 0; /* Initially invisible */
  animation: fadeIn 0.25s ease forwards; /* Fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start from invisible */
    translate: 0% 25%;
  }
  to {
    opacity: 1; /* Fade in to fully visible */
    translate: 0% 0%;
  }
}

.MsgBox h2 {
  color: #111;
  text-decoration: underline;
  text-align: left;
}
.MsgBox h4 {
  color: #111;
  font-weight: bold;
  text-align: left;
}

.MsgBox button {
  background-color: #db3434;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.MsgBox button:hover {
  background-color: #e98585;
}
