#github-usr-inf {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

#github-usr-inf h1 {}

#github-usr-inf p {}

#github-usr-inf h2 {}

#github-usr-inf a {}

#github-usr-inf img {
    border-radius: 10px;
}

.github-usr-social {
    text-align: center;
}

.github-usr-social img {
    margin: 10px;
    height: 30px;
    width: 100px;
}