.navbar-iframe,
.content-iframe,
.footer-iframe {
    width: 100%;
    border: none;
    display: inline-block;
    left: 0;
    z-index: 1000;
}

.navbar-iframe {
    box-shadow: 0px 0px 10px 5px;
    position: fixed;
    top: 0;
}

.content-iframe {
    /* There should be styles related to the main content container.. */
    /* 04/24/2024 */
}

.footer-iframe {
    box-shadow: 0px 0px 10px 5px;
    bottom: 0;
}
