.header-iframe,
.main-iframe,
.footer-iframe {
    width: 100%;
    border: none;
    display: inline-block;
    left: 0;
    z-index: 1000;
}

.header-iframe {
    box-shadow: 0px 0px 10px 5px;
    position: fixed;
    top: 0;
}

.main-iframe {
    height: 100vh; /* or any other percentage value */
}

.footer-iframe {
    box-shadow: 0px 0px 10px 5px;
    bottom: 0;
}
