<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/common.css">
    <title>header</title>
</head>
<body>
    <header>
        <div id="loading-bar"></div>
        <a class="logo-link" href="../" target="_parent">
            <img class="logo-img" src="../img/agsl_logo.jpg" alt="logo">
            <h1 class="logo-text">AstroGroupSL-Dev</h1>
        </a>
        <nav>
            <a onclick="navigate('./pages/home.html','_main_iframe')">Home</a>
            <a onclick="navigate('./pages/products.html','_main_iframe')">Products</a>
            <a onclick="navigate('./pages/about.html','_main_iframe')">About</a>
            <a onclick="navigate('./pages/blog.html','_main_iframe')">Blog</a>
            <a onclick="navigate('./pages/contact.html','_main_iframe')">Contact</a>
            <!-- <a onclick="navigate('./pages/yts.html','_main_iframe')">YTS Latest</a> -->
            <a onclick="navigate('https://nadees-github-io.pages.dev','_blank')">WebOS ↗</a>
            <a onclick="navigate('./404.html','_main_iframe')">Testing_Area</a>
        </nav>
    </header>
    <script src="../js/common.js"></script>
</body>
</html>