<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <title>navbar</title>
</head>
<body>
    <header>
        <a class="logo-link" href="../" target="_parent">
            <img class="logo-img" src="../img/agsl_logo.jpg" alt="logo">
            <h1 class="logo-text">AstroGroupSL-Dev</h1>
        </a>
        <nav>
            <a onclick="deployContent('./pages/home.html','_content-iframe')">Home</a>
            <a onclick="deployContent('./pages/blog.html','_content-iframe')">Blog</a>
            <a onclick="deployContent('./pages/products.html','_content-iframe')">Products</a>
            <a onclick="deployContent('./pages/yts.html','_blank')">YTS Latest ↗</a>
            <a onclick="deployContent('https://nadees-github-io.pages.dev','_blank')">WebOS ↗</a>
            <a onclick="deployContent('./pages/about.html','_content-iframe')">About</a>
            <a onclick="deployContent('./pages/contact.html','_content-iframe')">Contact</a>
        </nav>
    </header>
    <script src="../js/navbar.js"></script>
</body>
</html>