<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <title>navbar</title>
</head>
<body>
    <header>
        <a class="logo-link" href="/" target="_parent">
            <img class="logo-img" src="../img/agsl_logo.jpg" alt="logo">
            <h1 class="logo-text">AstroGroupSL-Dev</h1>
        </a>
        <nav>
            <a href="/" target="_parent">Home</a>
            <a href="../pages/blog.html" target="_parent">Blog</a>
            <a href="../pages/products.html" target="_parent">Products</a>
            <a href="../pages/yts.html" target="_parent">YTS Latest</a>
            <a href="../pages/about.html" target="_parent">About</a>
            <a href="../pages/contact.html" target="_parent">Contact</a>
            <a onclick="toggleFullScreen()">↗</a>
        </nav>
    </header>
    <script src="../js/navbar.js"></script>
</body>
</html>